.main {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  color: var(--white-state-color);
  max-height: 3rem;
  padding: 0.5rem 1rem;
}

.logo {
  color: var(--logo-color);
}

.avatar {
  border-radius: 50%;
  height: 2rem;
}
