* {
  --primary-color: #811434;
  --logo-color: #fbe1d0;
  --white-state-color: #ffffff;
  --light-state-color: #fafcfe;
  --background-color: #e5e5e5;
  --body-text-color: #485572;
  --subtle-text-color: #8c8ca1;
  --black-color: #000000;
  --yellowish: #ffaa2c;
  --blueish: #2c67ff;
  --greenish: #00cf3a;
  --radish: #ff1c1c;
  --success-color: #2fca72;
  --dark-color: #262730;
  --hover-background-color: #f7f1f3;
  --hover-box-shadow: 2px 0px 0px #811434;
  --dividing-line-color: #ecf1f4;
}

.App {
  background-color: var(--background-color);
  min-height: 100vh;
  box-sizing: border-box;
}

.sidebarAndContent {
  padding: 0rem 2rem;
}
